<nav class="nav_div">
  <div class='nav_container'>
    <div class="nav_logo">
      <img src="../../../assets/image/logo/devjoho.png" alt="Devjoho Logo">
    </div>

    <div class="nav_link_container">
      <ul>
        <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li (click)="showCategoryPc()">Category</li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
<nav>

<div class="show_category_pc display-none" id="showCategoryPc">
  <h1>Hellooo</h1>
</div>
