<nav class="nav_div">
  <div class='nav_container'>
    <div class="nav_logo">
      <img src="../../../assets/image/logo/devjoho.png" alt="Devjoho Logo">
    </div>

    <div class="nav_link_container">
      <ul (click)="showCategoryPc()">
        <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li class="" id="category-link">Category</li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <nav>

    <div class="show_category_pc display_none " id="showCategoryPc" (click)="showCategoryPc()">
      <div>
        <ul class="show_category_pc_nav_ul" (click)="hideShowCategoryPc(); showCategoryPc()">
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
          <li>One</li>
        </ul>
      </div>
    </div>