/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Heebo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Expletus Sans', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Palanquin', sans-serif; */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1400px;
    
    --font-primary: 'Heebo', sans-serif;
    --font-secondary: 'Expletus Sans', cursive, sans-serif;
    --font-tertiary: 'Palanquin', sans-serif;

    --call-to-action: rgb(59, 191, 248);

    --color-one: #2a2f4f;
    --color-two: #917FB3;
    --color-three: #E5BEEC;
    --color-four: #FDE2F3;

    --font-color-dark: #1a1b22;
    --font-color-mid-dark: #292a35;

    --font-color-light: #e6d4df;
    --font-color-mid-light: #e9cde2;

    --background-color: #f7f7f7;
}